html, body {
    background-image: url("https://cdn.pixabay.com/photo/2015/03/17/01/19/wood-floor-677054_1280.jpg");
    min-height: 100% ;
    font-family: 'Lalezar', cursive;
    font-size: x-large;
}

#main-title{
    font-family: 'Lalezar', cursive;
    text-align: right;
    text-shadow: 3px 3px 6px red;
}

.container {
    padding: 5%;
}

.getCardsNav{
    padding: 30px;
}

.card-space{
    padding: 10px;
    margin: 10px;
}

.button-style{
    text-shadow: 2px 2px 5px red;
    border-style: inset;
    border-width: 2px;
    border-color: red;
}

#packimg {
    height: 400px; 
    width: 300px;
    border-style: inset;
    border-width: 10px;
    border-color: red;
}

.common{
    background-image: url("https://www.sketchuptextureclub.com/public/texture_d/0082-bronze-shiny-brushed-metal-texture-hr.jpg");
}

.rare{
    background-image: url("https://image.freepik.com/free-photo/abstract-background-from-silver-metal-plate-shiny-surface-material_28586-1016.jpg");
}

.legendary{
    background-image: url("https://images.assetsdelivery.com/compings_v2/cobalt/cobalt1601/cobalt160100033.jpg");
}